.load-more {
  display: none;
  width: 600px;
  height: 50px;
  background-color: orange;
}
body {
  margin: 0px;
  background-color: lightgray;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}


.info {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: aqua;
}

button {
  font-size: 30px;
  border-radius: 10px;
}

input {
  width: 300px;
  border-radius: 10px;
  font-size: 25px;
}

.button-next {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.photo-card {
  border-radius: 10px;
  background-color: white;
}
 img {
  border-radius: 10px 10px 0px 0px
 }
